{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    {% if errors %}
                        {% for field in errors %}
                            <p>{{ errors }}</p>
                        {% endfor %}
                    {% endif %}
                    <form action="{% url "register" %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}">
                                {{ form.username.label }}
                            </label>
                            <input
                                id="{{ form.username.id_for_label }}"
                                class="form-control"
                                type="text"
                                inputmode="text"
                                name="{{ form.username.html_name }}"
                                {% if form.username.value %}
                                    value="{{ form.username.value }}"
                                {% endif %}
                                required
                            >
                            {% if form.username.help_text %}
                                <small
                                    id="{{ form.username.id_for_label }}_help"
                                    class="form-text text-muted"
                                >
                                    {{ form.username.help_text }}
                                </small>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.password1.id_for_label }}">
                                {{ form.password1.label }}
                            </label>
                            <input
                                id="{{ form.password1.id_for_label }}"
                                class="form-control"
                                type="text"
                                inputmode="text"
                                name="{{ form.password1.html_name }}"
                                {% if form.password1.value %}
                                    value="{{ form.password1.value }}"
                                {% endif %}
                                required
                            >
                            {% if form.password1.help_text %}
                                <small
                                    id="{{ form.password1.id_for_label }}_help"
                                    class="form-text text-muted"
                                >
                                    {{ form.password1.help_text }}
                                </small>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.password2.id_for_label }}">
                                {{ form.password2.label }}
                            </label>
                            <input
                                id="{{ form.password2.id_for_label }}"
                                class="form-control"
                                type="text"
                                inputmode="text"
                                name="{{ form.password2.html_name }}"
                                {% if form.password2.value %}
                                    value="{{ form.password2.value }}"
                                {% endif %}
                                required
                            >
                            {% if form.password2.help_text %}
                                <small
                                    id="{{ form.password2.id_for_label }}_help"
                                    class="form-text text-muted"
                                >
                                    {{ form.password2.help_text }}
                                </small>
                            {% endif %}
                        </div>

                        <input
                            type="hidden"
                            name="next"
                            value="{{ next }}"
                        >
                        <button type="submit" class="btn btn-primary">Register</button><br/>
                        <a href="{% url "login" %}">or you can login</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
{% endblock %}